* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "SF Pro";
    font-weight: 400;
    margin: 0;
    background-color: black;
    color: white;
}

p {
    margin: 0;
}

main {
    --page-gutter: 2.5vw;

    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 4vh var(--page-gutter);
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.hero-image {
    position: absolute;
    inset: 0 0 0 50%;
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
}

.wordmark {
    color: inherit;
    text-decoration: none;
}

.footer-link {
    color: inherit;
}

.get-started {
    text-decoration: underline;
}

.trademark {
    vertical-align: super;
    font-size: 0.5em;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.middle-text {
    font-weight: 300;
    max-width: 40vw;
    font-size: 2.2rem;
}

.grey-text {
    color: rgb(255 255 255 / 50%);
}

.middle-coordinates {
    font-family: "GeistMono Nerd Font Mono", monospace;
    justify-self: center;
    transform: translateX(calc(var(--page-gutter) * 0.5));
}

.bottom-left {
    display: flex;
    gap: 2rem;
    align-items: center;
}
